<% title "Publisher Tags" %>

<table class="record_listing" width="500" cellspacing="0" cellpadding="0"><!-- Cellspacing/paddding added for IE 6 -->
  <tr class="record_listing_header">
    <th>Name</th>
    <th>Size</th>
    <th>Enabled</th>
  </tr>
  <% for tag in @publisher_tags %>
    <tr class="record_row_<%= cycle("odd", "even")%>">
      <td class="record_column"><%=h tag.tag_name %></td>
      <td class="record_column"><%=h tag.size %></td>
      <td class="record_column"><%=h tag.enabled_s %></td>
    </tr>
  <% end %>
</table>

