<% title "Forgot Password" %>

Fill out the form below and instructions to reset your password will be emailed to you:<br />
<br />

<% form_for :password_reset, :url => { :action => 'create' } do |f| %>
<div width="400">
  <%= f.error_messages %>

  <div class="fieldset">
    <%= f.label :email %><br />
    <%= f.text_field :email, {:style=> "width: 200px"}  %>
  </div>
  <%= liftium_submit "Send me my password reset instructions" %>
</div>
<% end %>



