<% title "Edit User" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @user %>
  <%- if !current_user.publisher_id and current_user.admin %>
    | <%= link_to "View All Users", users_path %>
  <% end %>  
</p>
