<% if !current_user 
  params[:nolayout]=1
end %>
<%-if !params[:nolayout] %>
  <% title "Liftium Terms and Conditions"%>
  <a href="?nolayout=1" target="_blank">Printable</a>
  <p>
  <div id="terms_and_conditions" style="overflow:auto; height: 450px">
<%- else %>
  <h2 style="padding-left:0px;">Liftium Terms and Conditions</h2>
<%-end %>

<p align="justify" style="text-decoration:uppercase;">BY USING THE LIFTIUM SERVICE, YOU AFFIRM THAT (i) YOU ARE AT LEAST 18 YEARS OF AGE; (ii) THAT
YOU ARE AN EMPLOYEE, DIRECTOR, OR AGENT OF THE ENTITY IDENTIFIED IN AN ONLINE REGISTRATION FORM SUBMITTED IN
CONJUNCTION WITH THESE TERMS AND CONDITIONS (THE "PUBLISHER"); (iii) THAT YOU HAVE THE LEGAL AUTHORITY TO
BIND THE PUBLISHER TO THE FOLLOWING TERMS AND CONDITIONS (THE "T&amp;CS"); AND (iv) THAT PUBLISHER AGREES TO THE
T&amp;Cs AND SHALL COMPLY WITH THEM WHEN USING LIFTIUM'S ONLINE ADVERTISING OPTIMIZATION SERVICE (THE "LIFTIUM
SERVCE").</p>

<p align="justify"><b><u>Liftium Service Description:</u></b>  The Liftium Service helps online web site
or application publishers, like Publisher, to optimize their adverting inventory by providing access to
multiple online advertising networks and exchanges ("Ad Networks") through the Liftium interface and by
optimizing demand among Ad Networks for this ad inventory.  In return for the Liftium Service, Publisher
allows Liftium to include Publisher's advertising inventory in campaigns purchased by Ad Networks directly
from Liftium. </p>

<p align="justify"><b><u>License Grant:</u></b>  Liftium hereby grants Publisher a non-exclusive,
non-transferable, right to use the Liftium Service, subject to these T&amp;Cs. Liftium and its licensors
reserve all rights not expressly granted to Publisher. Publisher warrants it will not access the Liftium
Service for purposes of monitoring its availability, performance, or functionality, or for resale or
trafficking of Liftium ad tags or advertisements, or for any other benchmarking or competitive purposes.
Publisher's use of the Liftium Service is subject to Liftium's approval and Publisher's continued
compliance with these T&amp;Cs. Liftium reserves the right to rescind Publisher's license to the Liftium
Service at any time in its sole discretion. By using the Liftium Service, Publisher agrees that Liftium
may serve third-party advertisements ("Ad Units") on the Web sites, Internet-enabled applications, and
other online environments that Publisher owns or is legally authorized to operate and on which Publisher
installs Liftium ad tags (the "Sites").  Multiple accounts held by the same Publisher are subject to
immediate termination unless expressly authorized in writing by Liftium.</p>

<p align="justify"><b><u>Implementation and Operation of Ad Units:</u></b>  Publisher agrees to comply with
the instructions provided by Liftium from time to time to enable proper delivery, display, tracking, and
reporting of Ad Units in connection with the Site(s), including without limitation by not modifying the
JavaScript or other programming provided to Publisher by Liftium in any way, unless expressly authorized
in writing by Liftium.</p>

<p align="justify"><b><u>Ad Network T&amp;Cs:</u></b>  Publisher's participation in the Liftium Service does
not discharge Publisher from complying with the separate Agreements and/or Terms &amp; Conditions that Publisher
has entered into with the Ad Networks while registering accounts that Publisher has integrated into the
Liftium Service.  Transactions separate from the Liftium Service between Publisher and any Ad Network
are performed in Publisher's discretion and that of the Ad Network and Liftium has no obligation or
responsibility in connection with these transactions.</p>

<p align="justify"><b><u>Prohibited Content:</u></b>  "Prohibited Content" includes indecent material,
obscene or pornographic material, hate speech, subject matter that is highly objectionable, material that
promotes or allows download of software viruses or other malware, or any material that is itself illegal or
which improperly references illegal activities.  Liftium represents and warrants that it shall not traffic,
display or deliver Ad Units or any other digital representation of Prohibited Content to users of the Sites.</p>

<p align="justify"><b><u>Liftium's Limited Warranties:</u></b> Liftium represents and warrants that it is
in compliance with all applicable federal, state, and local laws, rules, and regulations, and that, to the
best of its knowledge, the Liftium Service does not infringe any U.S. patents, or any copyright, trademark,
or other intellectual property rights.  Liftium further warrants that its performance hereunder shall not
conflict with any duties owed to, or rights held by, third parties.</p>


<p align="justify"><b><u>Publisher Warranties:</u></b>  Publisher represents and warrants that:

<ol style="list-style-type:lower-roman;">
        <li>all of the information Publisher has provided and shall in the future provide to Liftium is accurate and current;</li>
        <li>Publisher has all necessary and legal rights, powers, and authority to accept and be bound by these T&amp;Cs and to perform the acts required of Publisher hereunder;</li>
        <li>Publisher is in compliance with all applicable federal, state, and local laws, rules, and regulations including without limitation the CAN-SPAM Act of 2003, California's Online Privacy Protection Act of 2003, and any applicable data protection or privacy laws;</li>        <li>that the Sites do not display, reference, link to, or endorse Prohibited Content;</li>
        <li>it will implement Liftium's specifications for placement and use of Liftium's Ad Tags;</li>        <li>it shall not license, sell, assign, distribute or otherwise commercially exploit or make available to any third party the Liftium Service, including 
advertisements derived from the Liftium Service or the Liftium Ad Tags;</li>
        <li>it shall not modify, adapt, translate, prepare derivative works from, decompile, reverse engineer, disassemble or otherwise attempt to derive source code from the Liftium Service, Liftium Ad Tags, Liftium's other software, or documentation, or create or attempt to create a substitute or similar service or product through use of or access to the Liftium Service or proprietary information related thereto;</li>
        <li>it shall not integrate any Sites containing software viruses, worms, Trojan horses or other harmful computer code into the Liftium Service or otherwise interfere with or disrupt the integrity or performance of the Liftium Service;</li>
        <li>it shall not attempt to gain unauthorized access to the Service or its related systems or networks;</li>        <li>it shall not, directly or indirectly, generate queries or impressions of or clicks on any Ad Unit through any automated, deceptive, fraudulent or oth
er invalid means, including but not limited to through repeated manual clicks, the use of robots or other automated query tools and/or computer generated search requests, and/or the unauthorized use of other search engine optimization services and/or software;</li>
        <li>it shall not create links to the Liftium Service, frame, minimize, remove or otherwise inhibit the full and complete display of any Web page accessed by an end user after clicking on any part of an Ad Unit ("Advertiser Page");</li>
        <li>it shall not redirect an end user away from any Advertiser Page or provide a version of the Advertiser Page that is different from the page an end user would access by going directly to the Advertiser Page;</li>
        <li>it shall not intersperse any content between the Ad Unit and the Advertiser Page; or otherwise provide anything other than a direct link from an Ad Unit to an Advertiser Page;</li>
        <li>it shall not display any Ad Unit(s) on any error page, on any registration or "thank you" page (e.g., a page that thanks a user after he/she has registered with the applicable Web site), on any chat page or in any email, or on any Site that contains Prohibited Content ;</li>
        <li>it shall not directly or indirectly access, launch, and/or activate Ad Units through or from, or otherwise incorporate the Ad Units in, any software 
application, Web site, or other means other than the Site(s);</li>
        <li>it shall not "crawl", "spider", index or in any non-transitory manner store or cache information obtained from any Ad Units or any part, copy, or der
ivative thereto; and,</li>
        <li>it shall not engage in any action or practice that reflects poorly on Liftium or otherwise disparages or devalues Liftium's reputation or goodwill.</
li>
</ol>
</p>

<p align="justify"><b><u>Liftium Rights &amp; Duties:</u></b>  Liftium reserves the right to investigate, at
its own discretion, any activity that may violate these T&amp;Cs, including but not limited to any use of a
software application to access Ad Units or any engagement in any activity prohibited by these T&amp;Cs.
Publisher agrees that it will cooperate with any investigation initiated by Liftium under these T&amp;Cs.
Publisher grants Liftium the right to access, index and cache the Site(s), or any portion thereof,
including by automated means including Web spiders or crawlers.  Publisher also authorizes Liftium to
access the performance and billing reports provided by each Ad Network which Publisher has integrated into
the Liftium Service.  Liftium will provide a commercially reasonable amount of technical support by email,
message-board and/or Internet-based chat technology, should Publisher need such support.</p>

<p align="justify"><b><u>Termination; Survival:</u></b>  Liftium reserves the right to immediately terminate
this Agreement at any time by blocking Publisher's access to the Liftium Service.  Publisher may also
terminate this Agreement at any time by removing the Liftium Ad Tags from the Site(s).

<p align="justify"><b><u>Confidentiality:</u></b>  Publisher agrees not to disclose to any third-parties (i)
any communications between Liftium and Publisher or Publisher's representatives related to the Liftium
Service; (ii) all Liftium software, technology, programming, specifications, materials, guidelines and
documentation relating to the Liftium Service including Ad Tag code; (iii) any information regarding the
Liftium Service that a reasonable person familiar with the Internet and online advertising would consider
proprietary and confidential; and, (iv) (b) any written materials or oral presentations designated by
Liftium as "Confidential" or an equivalent designation at the time of disclosure ("Confidential Information").</p>

<p align="justify"><b><u>Disclaimer:</u></b> <span style="text-decoration:uppercase;"> LIFTIUM HEREBY DISCLAIMS ALL WARRANTIES WITH RESPECT TO THE
LIFTIUM SERVICE, WHETHER THEY BE EXPRESS OR IMPLIED, INCLUDING WARRANTIES OF MERCHANTABILITY, AND FITNESS
FOR ANY PARTICULAR PURPOSE. LIFTIUM DOES NOT WARRANT THAT THE LIFTIUM SERVICE WILL OPERATE UNINTERRUPTED
OR ERROR-FREE AND IT IS POSSIBLE THAT THE LIFTIUM SERVICE MAY BE INACCESSIBLE, UNAVAILABLE, OR INOPERABLE
FROM TIME TO TIME. LIFTIUM MAKES NO REPRESENTION OR WARRANTY ABOUT THE RESULT YOU WILL OBTAIN THROUGH THE
LIFTIUM SERVICE INCLUDING THE LEVEL OF AD UNIT IMPRESSIONS OR CLICKS ON NAY AD UNIT OR THE TIMING OF
DELIVERY OF SUCH IMPRESSIONS AND/OR CLICKS UNDER THESE T&amp;CS.  LIFTIUM IS NEITHER A PARTY NOR A
THIRD-PARTY BENEFICIARY TO ANY AD NETWORK AGREEMENTS PUBLISHER HAS ENTERED INTO THROUGH THE LIFTIUM
SERVICE AND PROVIDES NO WARRANTY REGARDING CONTINUED OPERATION OF THE AD NETWORK, CONTENT OF THE AD UNITS
PROVIDED BY THE AD NETWORK, PAYMENT BY THE AD NETWORK, OR TIMELINESS OF THE AD NETWORK IN DISPLAYING AD
UNITS ON THE SITE(S).  LIFTIUM IS NOT RESPONSIBLE FOR THE RECEIPT OF QUERIES FROM END USERS OF THE SITE(S)
OR THE TRANSMISSION OF DATA BETWEEN THE SITE(S) AND LIFTIUM.</span></p>

<p align="justify"><b><u>Limitation of Liability:</u></b>  IN NO EVENT SHALL LIFTIUM BE LIABLE UNDER THIS
AGREEMENT FOR ANY DAMAGES, INCLUDING COMPENSATORY, CONSEQUENTIAL, SPECIAL, INDIRECT, EXEMPLARY, AND PUNITIVE
DAMAGES, WHETHER IN CONTRACT, TORT OR ANY OTHER LEGAL THEORY, EVEN IF LIFTIUM HAS BEEN ADVISED OF THE
POSSIBILITY OF SUCH DAMAGES.  PUBLISHER ACKNOWLEDGES AND AGREES THAT ITS USE OF THE LIFTIUM SERVICE IS AT
PUBLISHER'S OWN RISK AND THAT PUBLISHER'S SOLE REMEDY IN CASE OF ALLEGED DAMAGES ARISING FROM USE OF THE
LIFTIUM SERVICE IS TO IMMEDIATELY TERMINATE ITS USE OF THE LIFTIUM SERVICE. PUBLISHER AGREES THAT IN NO
CASE SHALL LIFTIUM BE MONETARILY LIABLE TO PUBLISHER.</p>

<p align="justify"><b><u>Publicity and Marketing:</u></b>  You grant Liftium a non-exclusive, non-transferable,
royalty-free license to use Publisher's company name, service, and/or logos ("Trademarks") for use by
Liftium on Liftium's web site, promotional materials, and marketing collateral in conjunction with the
Liftium Service.   Liftium shall make no other use of the Trademarks.  Liftium acknowledges and agrees
that the rights granted to Liftium by this license do not constitute and should not be construed to be an
assignment of any or all of Publisher's rights with respect to the Trademarks.</p>

<p align="justify"><b><u>Publisher's Obligation to Indemnify:</u></b>  You agree to indemnify and hold
harmless Liftium, its agents, affiliates, subsidiaries, directors, officers, employees, and applicable
third parties (e.g. relevant advertisers, syndication partners, licensors, licensees, consultants and
contractors) (collectively "Indemnified Person(s)") against any third-party claims, arising from (a) any
alleged violation of privacy; (b) any alleged infringement of  the third party's copyright, patent, trade
secret, trademark or other intellectual property rights; and (c) any alleged violation of applicable laws,
rules, and regulations.</p>

<p align="justify"><b><u>Liftium Intellectual Property Rights:</u></b>  Publisher acknowledges that
Liftium owns all right, title and interest, including without limitation any and all rights created by
patent, copyright, trademark, and trade secret law in and to the Liftium Service, including Liftium's Ad
Tags, and the brands and trademarks for AdFlex and PublisherConnect and all other trademarks, copyrights,
patents, or other intellectual property registered by or owned by Liftium (collectively "Liftium IP").
Publisher agrees that it will not acquire any right, title, or interest in or to the Liftium IP except as
expressly set forth in these T&amp;Cs. Publisher will not remove, obscure, or alter Liftium's copyright notice,
brands and trademarks, or other proprietary rights notices affixed to or contained within Liftium's,
software, or documentation.</p>

<p align="justify"><b><u>Marketing/Advertising:</u></b>  By signing up for Liftium's services, you are also
agreeing to receive our email newsletter.  You may unsubscribe from this newsletter at any point simply by
clicking "Unsubscribe" at the bottom of the email.  Your information will be not be shared with any third
parties and will be kept strictly confidential.</p>

<p align="justify"><b><u>Miscellaneous:</u></b>  The laws of California, except for its conflicts of laws
principles, shall govern these T&amp;Cs. The parties agree that any claim or dispute arising under these T&amp;Cs
shall be determined by binding arbitration before Judicial Arbitration and Mediation Services/Endispute
("JAMS") in Redwood Shores, California, in accordance with JAMS commercial rules of arbitration.
Should litigation continue beyond arbitration, the parties agree to jurisdiction and venue for any dispute
or claim arising out of or in connection with these T&amp;Cs in the state and federal courts of Santa Clara
County, California.  These T&amp;Cs constitute the entire agreement between the parties with respect to the
subject matter hereof.  It is subject to change, at any time, by Liftium by posting new or amended T&amp;Cs on
the Liftium Web site.  It is Publisher's responsibility to regularly review Liftium's web site for changes
to these T&amp;Cs.  Publisher's continued use of the Liftium Service after Liftium posts new T&amp;Cs shall act as
Publisher's agreement to any changes. Liftium's failure to require performance of any provision shall not
affect Liftium's right to require performance at any time thereafter, nor shall Liftium's waiver of any
breach or default of these T&amp;Cs constitute a waiver of any subsequent breach or default or a waiver of the
provision itself. If any provision herein is held unenforceable, then such provision will be modified to
reflect the parties' intention, and the remaining provisions of these T&amp;Cs will remain in full force and
effect. Publisher may not resell, assign, or transfer any of its rights hereunder. Notwithstanding the
foregoing, Liftium may assign this Agreement to any third-party at any time without notice.</p>

<p align='justify'>The Liftium name and logo, and all related product and service names, design marks and slogans are the trademarks or registered trademarks of Liftium, Inc. All other product and service marks contained herein are the trademarks of their respective owners. You may not use any Liftium trademarks or logos without the prior written consent of Liftium.</p>

<%-if !params[:nolayout] %>
  </div><!-- id=terms_and_conditions -->
  <hr />
  <form>
  <%-if current_user.publisher.accepted_tac.nil? %>
     <input type="submit" name="accept" value="I accept"/>
  <%-else %>
    Accepted on <%= current_user.publisher.accepted_tac %>
    <%- if current_user.admin? %>
      <input type="submit" name="revoke" value="Revoke"/>
    <%-end %>
  <%-end %>
  </form>
<%- end %>
