<% @title_bar_right_text = date_range_dropdown("Select Timeframe...")%>
<% title "Admin Home" %>
<% params[:date_select] ||= "This Hour" %>
<% @range = date_range_to_graph_range(params[:date_select]) %>
<script>
function dateSelect(dd){
        window.location.href = window.location.pathname + '?date_select=' + escape(dd.options[dd.selectedIndex].value);
}
</script>

<div style="width:825px">

<% for stat in misc_stat_types do -%>
  <div style="float:left;margin-bottom:10px;margin-right:10px">
    <%= stat %>: <%= EventRecorder.read(EventRecorder.serialize_key([stat], "minute", 61.seconds.ago)) || "0" %> in the last minute<br/>
    <a href="<%=h url_for :controller => 'charts', :action => 'misc_stat', :stat => stat %>"><img src="<%= misc_stat_url stat, @range %>" width="400" height="190"/></a>
  </div>
<% end -%>

<!-- I hate CSS flaot -->
<br clear="all">

</div>
