<% @show_nav = false %>
<% title "Liftium" %>

<div style="width:500px">
Liftium aims to transform ad network monetization with better
delivery technology and real-time optimization. Currently, we are
only servicing early beta customers. Those with an existing account
can <%= link_to "login", new_user_session_path %> here. Or e-mail <a href="m&#97;ilt&#111;:veronica%40liftium&#46;&#99;&#111;&#109;">ver<!-- No spam robots -->onica<!--No spam robots -->&#64;<!-- No spam robots -->lift<!-- No spam robots -->ium<!-- No spam robots -->&#46;&#99;<!-- No spam robots -->&#111;&#109;<!--No spam robots --></a> for more information on
our beta program and how Liftium can lift your revenue beyond the competition.

</div>
