<% title "Revenue Data Entry" %>

<%= render :partial => 'selector', :locals => { :show_submit => true } %>

<div id="results">
<% if @revenues %>
  <%= render :partial => 'results' %>
<% end %>
</div>
