<h1 align="center"><%= changelogs_title(params) %></h1>

<% form_tag changelogs_path, :method => :get do -%>
  Limit Number of Entries: <%= select_tag "entries", options_for_select([2, 10, 25, 50, 100, "all"], @entries), :onchange => "form.submit();" %>
<% end %>
<table class="record_listing">
  <tr class="record_listing_header">
    <th>Change</th>
    <th>Operation</th>
    <th width="40%">Field Changes</th>
    <th>User</th>
    <th>Date</th>
  </tr>
  <%= render :partial => "changelog", :collection => @changelogs %>
</table>
